/* base */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+Symbols&family=Noto+Sans+Symbols+2&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --base-font-size: 1.125rem;
    --background-color-dark: #111;
    --header-color-dark: #222;
    --text-color-dark: #efefef;
    --accent-color-dark: #F1C232;
    
    --lime-color: #84D909;
}

html {
    font-size: var(--base-font-size);
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body {
    font-family: "Noto Sans", "Noto Sans JP", "Noto Sans Symbols", "Noto Sans Symbols 2", sans-serif;
    margin: 0 auto;
    padding: 1rem 5vw;

    max-width: 80ch;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    }

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: var(--header-color-dark);

    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    align-items: center;
    height: 4rem;
    padding-left: max(5vw, calc(50vw - 40ch)); /* (100vw - 80ch)/2 */
} 

.page-title a {
    color: white;
    text-decoration: none;
}

.page-title a:hover{
    color: white;
    text-decoration: underline;
}

.header-item>a {
    color: var(--text-color-dark);
    text-decoration: none;
}

.header-item>a:hover {
    color: var(--text-color-dark);
    text-decoration: underline;
}

.content {
    padding-top: 4rem;
}

/* text styles */

h1, h2 {
    /*font-weight: normal;*/
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem 0;
}

h2 {
    font-size: 1.25rem;
    margin: 1.5rem 0 0.5rem 0;
}

p {
    margin: 0.8rem 0;
    font-size: 1rem;
}

ul {
    padding-inline-start: 2rem;
}

li {
    list-style-type: "🞙  ";
    margin-bottom: 0.2em;
}

li::marker {
    line-height: 1em;
}

/* link styles */

a {
    color: var(--accent-color-dark);
}

a[target|="_blank"]::after {
    content: " 🗗";
    font-size: 0.8em;
    line-height: 1em;
}

a[href*="youtube.com"]::after,
a[href*="youtu.be"]::after {
    color: #FF0000;
    content: " 🗗YT";
    font-size: 0.8em;
    line-height: 1em;
}

/* text markup */

.lime {
    color: var(--lime-color);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* svg filters */

.icon-light {
    filter: brightness(0) saturate(100%) invert(97%) sepia(5%) saturate(262%) hue-rotate(228deg) brightness(118%) contrast(87%);
}