<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>mizumyst</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="header">
        <div class="page-title"><a href="/">mizumyst</a></div>
        <div class="header-item"><a href="/blog.html">blog</a></div>
        <div class="header-item"><a href="/about.html">about</a></div>
    </div>
    <div class="content">
        {{ content }}
    </div>
    
</body>
</html>
